h1 {
    text-align: center;
    font-size: 3em;
}

.post-unico-titulo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
    height: 50px;
    width: 80%;
    margin: 0px auto 20px auto;
}

.post-unico-titulo > span {
    color: #fff;
}

.post-unico-conteudo {
    /* background-color: red; */
    width: 80%;
    margin: 5px auto;
}

.imagem {
    margin: 0px auto;
    height: 300px;
    max-width: 400px;
}

.imagem > img {
    height: 100%;
    width: 100%;
}

.post-unico-conteudo > p {
    text-align: justify;
    margin-top: 50px;
}

/* post unico */

.subtitulo {
    height: 50px;
    width: 80%;
    margin: 40px auto;
    background-color: lightgray;
}

.subtitulo > h2 {
    color: #fff;
    line-height: 50px;
    padding-left: 20px;
}

/* subtitulo */

.posts-relacionados {
    width: 80%;
    margin: 0px auto 40px auto;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagem-posts-relacionados {
    height: 150px;
    width: 200px;
    position: relative;
    margin: 40px 0px;
}

.imagem-posts-relacionados > img {
    height: 100%;
    width: 100%;
}

.posts-relacionados-titulo {
    color: #fff;
    background-color: #00000060;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -25%);
}

/* post */

.quantidade-comentarios {
    margin-right: 10px;
}

.comentarios {
    width: 80%;
    margin: 0px auto;
}

.texto-comentario {
    outline: none;
    height: 150px;
    width: 100%; 
    resize: none;
    padding: 10px;
}

.btn-cadastrar, .btn-comentar {
    color: #fff;
    text-decoration: none;
    background-color: #0088ffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-cadastrar:hover, .btn-comentar:hover {
    color: #fff;
    background-color: #000;
}

@media screen and (max-width: 800px){
    .posts-relacionados {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .imagem-posts-relacionados {
        height: 200px;
        width: 300px;
    }
}