h1 {
    text-align: center;
    font-size: 3em;
}

.post-unico-titulo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
    height: 50px;
    width: 80%;
    margin: 0px auto 20px auto;
}

.post-unico-titulo > span {
    color: #fff;
}

.post-unico-conteudo {
    /* background-color: red; */
    width: 80%;
    margin: 5px auto;
}

.imagem {
    margin: 0px auto;
    height: 300px;
    width: 400px;
}

.imagem > img {
    height: 100%;
    width: 100%;
}

.post-unico-conteudo > p {
    text-align: justify;
    margin-top: 50px;
}

/* post unico */

.subtitulo {
    height: 50px;
    width: 80%;
    margin: 40px auto;
    background-color: lightgray;
}

.subtitulo > h2 {
    color: #fff;
    line-height: 50px;
    padding-left: 20px;
}

/* subtitulo */

.posts-relacionados {
    height: 300px;
    width: 80%;
    margin: 0px auto 40px auto;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagem-posts-relacionados {
    height: 250px;
    width: 300px;
    position: relative;
}

.imagem-posts-relacionados > img {
    height: 100%;
    width: 100%;
}

.posts-relacionados-titulo {
    color: #fff;
    background-color: #00000060;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -25%);
}