* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.principal {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0px auto;
    padding-block: 20px;
    background-color: #fff;
}

.container-posts {
    background-color: #fff;
    width: 65%;
}

.post {
    display: flex;
    height: 250px;
    width: 100%;
    margin-block: 20px;
}

.post-imagem {
    height: 100%;
    width: 45%;
}

.post-imagem>img {
    height: 100%;
    width: 100%;
}

.post-conteudo {
    width: 55%;
    padding-left: 10px;
}

.titulo-post {
    text-decoration: none;
    font-size: 2em;
    color: blue;
    margin-bottom: 10px;
    display: block;
}

.post-conteudo>span {
    color: blue;
}

.titulo-post:hover {
    color: gray;
}

/* post ---------------------------- */

.container-lateral {
    width: 30%;
    background-color: #f3f0f0;
    padding: 0px 20px 20px 20px;
}

.lateral-botoes {
    height: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao {
    height: 50px;
    width: 50px;
    margin: 5px;
    color: blue;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.post-lateral {
    min-height: 150px;
    padding: 20px;
    border-top: 1px solid lightgray;
    margin: 0px auto;
    background-color: #fff;
}

.post-lateral>div {
    display: flex;
    margin-bottom: 20px;
}

.titulo-lateral {
    display: inline-block;
    font-size: 1.2em;
    text-decoration: none;
    text-align: left;
    margin-left: 10px;
}

.titulo-lateral:hover,
.botao:hover {
    color: lightgray;
}

.imagem-lateral {
    height: 60px;
    width: 80px;
}

.imagem-lateral>img {
    height: 100%;
    width: 100%;
}

.post-lateral-conteudo {
    margin-left: 10px;
}

@media screen and (max-width: 700px) {
    .container-lateral {
        display: none;
    }

    .container-posts {
        width: 100%;
    }
}